footer{
    position: sticky;
    bottom: 0;
    height: 100px;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
}

.rgpd {
    margin-top: 40px;
    text-align: center;
    font-size: 9px;
}






