<div class="container-fluid">
    <table class="table" style="color: wheat; text-align: center;">
        <tr>
            <th scope="col">Produits</th>
            <th scope="col">Quantite</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
        </tr>

        <tr *ngFor="let produit of panier">
            <th scope="col">{{produit.box.nom}}</th>
            <th scope="col"><button class="moins" (click)="moinsInPanier(produit.box.id)">-</button> {{produit.quantite}} <button class="plus" (click)="plusInPanier(produit.box.id)">+</button> <i class="bi bi-trash" (click)="deleteBox(produit.box.id)"></i></th>
            <th scope="col">{{produit.box.prix}} €</th>
            <th scope="col">{{getTotalLigne(produit.box.id) | number: '1.2-2'}} €</th>
        </tr>
    </table>

    <h2 class="total" style="color: wheat;">Total: {{getTotal()| number: '1.2-2'}}</h2>

    <div *ngIf="panierValide() == true">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#valideCommande">Valider Commande</button>
    </div>
</div>


<div class="modal fade" id="valideCommande" tabindex="-1" aria-labelledby="valideCommandeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="valideCommandeLabel">Valider la commande ?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#valide" data-bs-dismiss="modal">Oui</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="valide" tabindex="-1" aria-labelledby="valideLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="valideLabel">Commande validé</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Commande n°{{getNumCommande()}}
              </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="addHistorique()" (click)="cancel()" data-bs-dismiss="modal">OUI</button>
            </div>
        </div>
    </div>
</div>